@{
    ViewBag.Title = "Pagina Incial";
}

<div class="jumbotron">
    <h1>Grade de Horarios</h1>
    <p class="lead">
        O projeto Sistema de gerenciamento de grade horários acadêmicos tem
        como objetivo organizar a lista de horários para as grades do curso de Sistemas
        de informação do campus de Palmas da Universidade Estadual do Tocantins.
        A função do sistema é automatizar a gestão de conflitos de horários que
        surgem durante a manutenção da grade semanal de cada período, evitando
        conflitos e ou choque de horários entre disciplinas e professores.
    </p>
</div>

